.header {
  padding: 36px 0;
  background-color: var(--theme-primary-500);
}

.wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: calc(var(--base) / 2) var(--base);
  color: black;
}


.logo {
  width: 170px;
}

.hide { 
  display: none;
}